<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
  <%= image_tag @user.picture.url(:small) %>
  <%= image_tag @user.picture.url(:large), :id => "cropbox" %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
